@{
    ViewBag.Title = "Dribbble";
}

<div class="jumbotron">
    <h3><b>What are you working on?</b> Dribbble is show and tell for designers.</h3>
     
    @Html.ActionLink("Learn More", "About", "Home", new { area = "" }, new { @class = "btn btn-default" })
    @Html.ActionLink("Sign Up", "About", "Home", new { area = "" }, new { @class = "btn btn-primary" })
</div>

<div class="row">
    
</div>